{
  "installState": {
    "path": ".openkit/openkit-install.json",
    "schema": "openkit/install-state@1"
  },
  "productSurface": {
    "current": "global-openkit-install",
    "installReadiness": "managed",
    "installationMode": "openkit-managed"
  }
}
